<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAuthorLabel" jhiTranslate="ppmApp.author.home.createOrEditLabel">Create or edit a Author</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!author.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="author.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ppmApp.author.userName" for="field_userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="field_userName"
                [(ngModel)]="author.userName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ppmApp.author.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="author.firstName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ppmApp.author.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="author.lastName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ppmApp.author.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="author.email"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="ppmApp.author.favorite" for="field_favorite">Favorite</label>
            <select class="form-control" id="field_favorite" multiple name="favorite" [(ngModel)]="author.favorites">
                <option [ngValue]="getSelected(author.favorites, pictureOption)" *ngFor="let pictureOption of pictures; trackBy: trackPictureById">{{pictureOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
